/* #carouselID{
 position:fixed;
 img{
  width:100%;
  opacity:.7;
 } */
/* .carousel-indicators{
 display:none;
}
.carousel-control.left{
 display:none;
}
.carousel-control.right{
 display:none;
}
} */
#loginPage {
  background: url("../images/barkItHome.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; }

.loginButtons {
  margin-bottom: 500px;
  margin-top: -20px;
  margin-left: 6px; }

.form-control {
  width: 20%;
  display: inline-block; }

#profilePage {
  background: url("../images/lookRightPup.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-algin: right; }

.container-fluid {
  text-align: center;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%; }
  .container-fluid #mainLogo img {
    margin-top: -30px; }
  .container-fluid #profileIMG img {
    width: 350px;
    height: 350px;
    border-radius: 50%; }
  .container-fluid #socialNav img {
    width: 8%; }
  .container-fluid #contactInfo img {
    height: 25px;
    width: 25px; }
  .container-fluid #dogTag img:hover {
    cursor: pointer; }
  .container-fluid #dogProfileIMG img {
    width: 250px;
    height: 250px;
    border-radius: 50%; }
  .container-fluid #dogCard {
    margin-top: 5%; }
  .container-fluid #reminderList li {
    list-style-type: none; }
