#carouselID {
  height: 100%;
  position: fixed; }
  #carouselID img {
    width: 100%;
    opacity: .7; }
  #carouselID .carousel-indicators {
    display: none; }
  #carouselID .carousel-control.left {
    display: none; }
  #carouselID .carousel-control.right {
    display: none; }

.container-fluid {
  text-align: center; }
  .container-fluid #mainLogo img {
    width: 75%; }
  .container-fluid #profileIMG img {
    width: 30%;
    border-radius: 50%; }
  .container-fluid #socialNav img {
    width: 8%; }
  .container-fluid #contactInfo img {
    height: 25px;
    width: 25px; }
  .container-fluid #dogTag img:hover {
    cursor: pointer; }
  .container-fluid #dogProfileIMG img {
    width: 80%;
    border-radius: 50%; }
  .container-fluid #dogCard {
    margin-top: 5%; }
  .container-fluid #reminderList li {
    list-style-type: none; }
