<div class="container-fluid" id="registrationPage">
 <div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
  <div class="col-md-4">
 <form role="form" class="registrationForm">
  <div class="form-group">
   <label for="image">Image Url</label>
   <input type="url" id="image" class="form-control" ng-model="owner.image" placeholder="Copy and Paste Image URL">
  </div>
  <div class="form-group">
   <label for="name">Your Name</label>
   <input type="text" id="name" class="form-control" data-ng-model="owner.name" placeholder="Name">
  </div>
  <div class="form-group">
   <label for="email">E-mail Address</label>
   <input type="email" id="email" class="form-control" ng-model="owner.email" placeholder="E-mail">
  </div>
  <div class="form-group">
   <label for="phone">Phone Number</label>
   <input type="tel" id="phone" class="form-control" ng-model="owner.phone" placeholder="Telephone Number With Dashes">
  </div>
  <div class="form-group">
   <label for="twitter">Twitter Username</label>
   <input type="text" id="twitter" class="form-control" ng-model="owner.twitter" placeholder="Twitter Username">
  </div>
  <div class="form-group">
   <label for="instagram">Instagram Username</label>
   <input type="text" id="instagram" class="form-control" ng-model="owner.instagram" placeholder="Instagram Username">
  </div>
   <div class="createButton">
   <button class="btn btn-info" data-ng-click="createOwner(owner)">Create</button>
  </div>
 </form>
 <img src="../images/barkItLogo.png" alt="">
</div>
</div>
</div>
