<input type="text" class="form-control" data-ng-model="owner.image" value="{{owner.image}}">
<input type="text" class="form-control" data-ng-model="owner.name" value="{{owner.name}}">
<input type="text" class="form-control" data-ng-model="owner.email" value="{{owner.email}}">
<input type="text" class="form-control" data-ng-model="owner.phone" value="{{owner.phone}}">
<input type="text" class="form-control" data-ng-model="owner.twitter" value="{{owner.twitter}}">
<input type="text" class="form-control" data-ng-model="owner.instagram" value="{{owner.instagram}}">

<button data-ng-click="editOwner(owner)">Update Owner</button>
