<section>
    <h1>{{owner.name}}</h1>
    <img src="{{owner.image}}" alt="">
    <p>{{owner.email}}</p>
    <p>{{owner.phone}}</p>
   <a href="https://twitter.com/{{owner.twitter}}"><img src="../images/Twitter-icon.png" alt=""></a>
    <a href="https://instagram.com/{{owner.instagram}}"><img src="../images/Instagram-icon.png" alt=""></a>
    <a href="#/owners/{{owner._id}}/edit">Edit</a> | <a ng-click="deleteOwner(owner._id)">Delete</a>
</section>

<section>
<button ng-click="dogAdd = true"<a href="">Add A Dog</a></button>
<div ng-show="dogAdd">
<input type="text" data-ng-model="dog.name" placeholder="Name">
<input type="text" ng-model="dog.type" placeholder="Breed">
<input type="number" ng-model="dog.weight" placeholder="Weight">
<button data-ng-click="createDog(dog)">Create</button>
</div>
</section>
