<section>
    <h1>{{owner.name}}</h1>
    <img src="{{owner.image}}" alt="">
    <p>{{owner.email}}</p>
    <p>{{owner.phone}}</p>
   <a href="https://twitter.com/{{owner.twitter}}"><img src="../images/Twitter-icon.png" alt=""></a>
    <a href="https://instagram.com/{{owner.instagram}}"><img src="../images/Instagram-icon.png" alt=""></a>
    <a href="#/owners/{{owner._id}}/edit">Edit</a> | <a ng-click="deleteOwner(owner._id)">Delete</a>
</section>

<section>
<button <a href="#/dogs/new">Add A Dog</a></button>
</section>
